{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>
<br /><br />
<form action="/guardarTurno" method="post" class="formularios" enctype="multipart/form-data">
    <h1>MODIFICACIÓN DE DATOS DE UN TURNO</h1>
    <input type="hidden" name="idTurno" id="idTurno" value="{{turno.idTurno}}" readonly />
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-8">
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{turno.nombre}}" maxlength="20"
                required pattern="[A-Za-zéóáíú% %]{2,20}"
                title="Incluir solo letras. Tamaño mínimo: 2. Tamaño máximo: 20" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="horaInicio">Hora de entrada: </label>
        <div class="col-sm-8">
            <input class="form-control" type="time" name="horaInicio" id="horaInicio" onblur="horaTuno()" value="{{turno.horaInicio}}"
                required />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="horaFin">Hora de salida: </label>
        <div class="col-sm-8">
            <input class="form-control" type="time" name="horaFin" id="horaFin" value="{{turno.horaFin}}" onblur="horaTuno()" required />
            <div id="notifcTurn" style="background-color:rgba(179, 11, 11, 0.452);color:white; display:none; " ></div>
        </div>
    </div>
    <br /><br /><br />
    <label class="dias">Dias que cubre el turno: </label>
    <br />
    <ul class="list">
        {%if l == 'Lunes'%}
            <li><input type="checkbox" name="L" value="Lunes" checked> <b>Lunes </b></li>
        {%else%}
            <li><input type="checkbox" name="L" value="Lunes"> <b>Lunes </b></li>
        {%endif%}
        {%if m == 'Martes'%}
            <li><input type="checkbox" name="M" value="Martes" checked> <b>Martes </b></li>
        {%else%}
            <li><input type="checkbox" name="M" value="Martes"> <b>Martes </b></li>
        {%endif%}
        {%if mi == 'Miercoles'%}
            <li><input type="checkbox" name="MI" value="Miercoles" checked> <b>Miercoles </b></li>
        {%else%}
            <li><input type="checkbox" name="MI" value="Miercoles"> <b>Miercoles </b></li>
        {%endif%}
        {%if j == 'Jueves'%}
            <li><input type="checkbox" name="J" value="Jueves" checked> <b>Jueves </b></li>
        {%else%}
            <li><input type="checkbox" name="J" value="Jueves"> <b>Jueves </b></li>
        {%endif%}
        {%if v == 'Viernes'%}
            <li><input type="checkbox" name="V" value="Viernes" checked> <b>Viernes </b></li>
        {%else%}
            <li><input type="checkbox" name="V" value="Viernes"> <b>Viernes </b></li>
        {%endif%}

        {%if s == 'Sabado'%}
            <li><input type="checkbox" name="S" value="Sabado" checked> <b>Sabado </b></li>
        {%else%}
            <li><input type="checkbox" name="S" value="Sabado"> <b>Sabado </b></li>
        {%endif%}
        {%if d == 'Domingo'%}
            <li><input type="checkbox" name="D" value="Domingo" checked> <b>Domingo </b></li>
        {%else%}
            <li><input type="checkbox" name="D" value="Domingo"> <b>Domingo </b></li>
        {%endif%}
    </ul>
    <br />
    <a class="btn btn-dark" href="/turnos/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="registrar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-saved"> Guardar</span></button>
    {%if current_user.is_authenticated and (current_user.is_administrador() or current_user.is_staff())%}
    <a data-toggle="modal" data-target="#elim" id="elimin" class="btn btn-danger"><span
            class="glyphicon glyphicon-trash"></span></a>
    {%endif%}
    {%if band==1%}
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {%else%}
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {%endif%}

</form>
<br /><br />
<div id="elim" class="modal fade" role="dialog">
    <div class="modal-dialog" role="eliminar">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminación del turno: {{turno.nombre}}</h4>
            </div>
            <div class="modal-body">
                <p>¿ Esta seguro de que quiere eliminar este turno ?</p>
            </div>
            <div class="modal-footer">
                <a href="/turnosEliminar/{{turno.idTurno}}" class="btn btn-info">Si</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}