{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>
<br /><br />
<form action="/registrarTurno" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UN TURNO</h1>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="20"
                onblur="consultarTurno()" required pattern="[A-Za-zéóáíú% %]{2,20}"
                title="Incluir solo letras. Tamaño mínimo: 2. Tamaño máximo: 20" />
            <div id="notificacionesNom" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="horaInicio">Hora de entrada: </label>
        <div class="col-sm-10">
            <input class="form-control" type="time" name="horaInicio" id="horaInicio" placeholder="Hora de inicio"
                required />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="horaFin">Hora de salida: </label>
        <div class="col-sm-10">
            <input class="form-control" type="time" name="horaFin" id="horaFin" placeholder="Hora fin" required />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="dias">Dias: </label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="dias" id="dias" placeholder="Dias" required min="1" />
        </div>
    </div>
    <br /> <br />

    <a class="btn btn-dark" href="/turnos/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="registrar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>
    {%if band == 1%}
        {% if get_flashed_messages() %}
            {% for m in get_flashed_messages()%}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{m}}</strong>
            </div>
            {% endfor %}
        {% endif %}
    {%else%}
        {% if get_flashed_messages() %}
            {% for m in get_flashed_messages()%}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{m}}</strong>
            </div>
            {% endfor %}
        {% endif %}
    {%endif%}
</form>
<br /><br />
{%endblock content%}