{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<br /><br />
<form action="/guardarTurno" method="post" class="formularios" enctype="multipart/form-data">
    <h1>MODIFICACIÓN DE DATOS DE UN TURNO</h1>
    <input type="hidden" name="idTurno" id="idTurno" value="{{turno.idTurno}}" readonly />
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-8">
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{turno.nombre}}" maxlength="20"
                required pattern="[A-Za-z]{2,20}" title="Incluir solo letras. Tamaño mínimo: 2. Tamaño máximo: 20" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="horaInicio">Hora de entrada: </label>
        <div class="col-sm-8">
            <input class="form-control" type="time" name="horaInicio" id="horaInicio" value="{{turno.horaInicio}}"
                required />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="horaFin">Hora de salida: </label>
        <div class="col-sm-8">
            <input class="form-control" type="time" name="horaFin" id="horaFin" value="{{turno.horaFin}}" required />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="dias">Dias: </label>
        <div class="col-sm-8">
            <input class="form-control" type="number" name="dias" id="dias" value="{{turno.dias}}" required min="1"/>
        </div>
    </div>
    <br /><br />
    <a class="btn btn-dark" href="/turnos/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="guardar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-saved"> Guardar</span></button>
    <a data-toggle="modal" data-target="#elim" id="elimin" class="btn btn-danger"><span
            class="glyphicon glyphicon-trash"></span></a>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br /><br />
<div id="elim" class="modal fade" role="dialog">
    <div class="modal-dialog" role="eliminar">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminación del turno: {{turno.nombre}}</h4>
            </div>
            <div class="modal-body">
                <p>¿ Esta seguro de que quiere eliminar este registro ?</p>
            </div>
            <div class="modal-footer">
                <a href="/turnosEliminar/{{turno.idTurno}}" class="btn btn-info">Si</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}