{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE TURNOS</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
</div>
<a href="/turnosNuevo" class="btn btn-success" id="nuevo1"> <span class="glyphicon glyphicon-file"> <b>Nuevo</b></span></a>
<br/><br/>
<table class="table table-hover" >
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>HORA INICIO</th>
        <th>HORA FIN</th>
        <th>DIAS</th>
        <th>EDITAR</th>
    </tr>
    </thead>
    {% for t in turnos %}
    <tr>
        <td>{{t.idTurno}}</td>
        <td>{{t.nombre}}</td>
        <td>{{t.horaInicio}}</td>
        <td>{{t.horaFin}}</td>
        <td>{{t.dias}}</td>
        <td><a href="/turnosEditar/{{t.idTurno}}"><span class="glyphicon glyphicon-edit"></span></a></td>
    </tr>
    {% endfor %}
</table>
</div>
<br/>
{%endblock content%}