{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>AUSENCIAS JUSTIFICADAS</h1>
{% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
    {% endfor %}
{% endif %}

<script>
    $(document).ready(function(){
        $("#myInput2").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable2 tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      $(document).ready(function(){
        $("#myInput3").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable3 tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      $(document).ready(function(){
        $("#myInput4").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable4 tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
</script>
</script>

{%if current_user.is_authenticated and current_user.is_administrador()%}
<ul class="nav nav-tabs" id="ex2">
    <li class="active"><a data-toggle="tab" href="#menuu1" style="color: darkgreen;">Todos los registros</a></li>
    <li><a data-toggle="tab" href="#menuu2" style="color: darkgreen;">Solicitudes recibidas</a></li>
</ul>

<div class="tab-content">
    <div id="menuu1" class="tab-pane fade in active">
        <br>
        <a href="/ausenciasJustificadasNuevo" class="btn btn-success" id="nuevo1"> <span class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
        <div class="Buscador">
            <input id="myInput" type="text" placeholder="Buscar">
        </div>
        <br /><br />
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>FECHA</th>
                <th>PERIODO</th>
                <th>TIPO</th>
                <th>SOLICITADOR</th>
                <th>AUTORIZADOR</th>
                <th>EVIDENCIA</th>
                <th>ESTATUS</th>
                <th>MOTIVO</th>
                <th>EDITAR</th>
                <th>ELIMINAR</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {%for a in ausenciasJ%}
            {%if a.estatus != 'Eliminado'%}
            <tr>
                <td>{{a.fechaSolicitud}}</td>
                <td>{{a.fechaInicio}} - {{a.fechaFin}}</td>
                <td width="5px">{{a.tipo}}</td>
                {%for e in empleados%}
                {%if a.idEmpleadoSolicita == e.idEmpleado%}
                <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                {%endif%}
                {%endfor%}
                {%for e in empleados%}
                {%if a.idEmpleadoAutoriza == e.idEmpleado%}
                <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                {%endif%}
                {%endfor%}
                <td><a data-toggle="modal" data-target="#pdff{{a.idAusencia}}" id="imgn"><span class="glyphicon glyphicon-eye-open"><b></b></span></a></td>

                <div id="pdff{{a.idAusencia}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Registro No. {{a.idAusencia}}</h4>
                            </div>
                            <div class="modal-body">
                                <form  method="post" action="/edit_profile">
                                    <div class="form-group">
                                        <embed id="pdf" src="/empleadoEvidencia/{{a.idAusencia}}" type="application/pdf" width="100%" height="600px"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <td>{{a.estatus}}</td>
                <td>{{a.motivo}}</td>
                <td><a href="/ausenciasEditar/{{a.idAusencia}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a data-toggle="modal" data-target="#elim{{a.idAusencia}}" id="elimin"><span class="glyphicon glyphicon-trash"></span></a></td>
                <div id="elim{{a.idAusencia}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Eliminación del registro de ausencia justificada NO. {{a.idAusencia}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>¿ Esta seguro de que quiere eliminar este registro?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="/ausenciasEliminar/{{a.idAusencia}}" class="btn btn-info">Si</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            {%endif%}
            {%endfor%}
            </tbody>
        </table>
    </div>
    <div id="menuu2" class="tab-pane fade">
        <br>
        <a href="/ausenciasJustificadasNuevo" class="btn btn-success" id="nuevo3"> <span class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
        <div class="Buscador">
            <input id="myInput4" type="text" placeholder="Buscar">
        </div>
        <br /><br />
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>FECHA</th>
                <th>PERIODO</th>
                <th>TIPO</th>
                <th>SOLICITADOR</th>
                <th>EVIDENCIA</th>
                <th>ESTATUS</th>
                <th>MOTIVO</th>
                <th>EDITAR</th>
            </tr>
            </thead>
            <tbody id="myTable4">
            {%for a in ausenciasJ%}
            {%if a.estatus == 'Solicitando'%}
                {%if a.idEmpleadoAutoriza == current_user.idEmpleado%}

                    <tr>
                        <td>{{a.fechaSolicitud}}</td>
                        <td>{{a.fechaInicio}} - {{a.fechaFin}}</td>
                        <td width="5px">{{a.tipo}}</td>
                        {%for e in empleados%}
                        {%if a.idEmpleadoSolicita == e.idEmpleado%}
                        <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                        {%endif%}
                        {%endfor%}
                        <td><a data-toggle="modal" data-target="#pdff4{{a.idAusencia}}" id="imgn"><span class="glyphicon glyphicon-eye-open"><b></b></span></a></td>

                        <div id="pdff4{{a.idAusencia}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">X</button>
                                        <h4 class="modal-title">Registro No. {{a.idAusencia}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form  method="post" action="/edit_profile">
                                            <div class="form-group">
                                                <embed id="pdf4" src="/empleadoEvidencia/{{a.idAusencia}}" type="application/pdf" width="100%" height="600px"/>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <td>{{a.estatus}}</td>
                        <td>{{a.motivo}}</td>
                        <td><a href="/ausenciasEditar/{{a.idAusencia}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    </tr>

                {%endif%}
            {%endif%}
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>



{%else%}
    {%if current_user.is_authenticated and current_user.is_staff()%}

    <ul class="nav nav-tabs" id="ex1">
        <li class="active"><a data-toggle="tab" href="#menu1" style="color: darkgreen;">Solicitudes enviadas</a></li>
        <li><a data-toggle="tab" href="#menu2" style="color: darkgreen;">Solicitudes recibidas</a></li>
    </ul>

<div class="tab-content">
<!----------------------------------------------------------------------------------------------------------------------------------->
    <div id="menu1" class="tab-pane fade in active">
            <br>
            <a href="/ausenciasJustificadasNuevo" class="btn btn-success" id="nuevo2"> <span class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
            <div class="Buscador">
                <input id="myInput2" type="text" placeholder="Buscar">
            </div>
            <br /><br />
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>FECHA</th>
                    <th>PERIODO</th>
                    <th>TIPO</th>
                    <th>AUTORIZADOR</th>
                    <th>EVIDENCIA</th>
                    <th>ESTATUS</th>
                    <th>MOTIVO</th>
                    {%for a in ausenciasJ%}
                        {%if a.estatus == 'EnCaptura'%}
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                        {% endif %}
                    {%endfor%}
                </tr>
                </thead>
                <tbody id="myTable2">
                {%for a in ausenciasJ%}
                {%if a.estatus != 'Eliminado'%}
                    {%if a.idEmpleadoSolicita == current_user.idEmpleado%}

                        <tr>
                            <td>{{a.fechaSolicitud}}</td>
                            <td>{{a.fechaInicio}} - {{a.fechaFin}}</td>
                            <td>{{a.tipo}}</td>
                            {%for e in empleados%}
                                {%if a.idEmpleadoAutoriza == e.idEmpleado%}
                                <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                                {%endif%}
                            {%endfor%}
                            <td><a data-toggle="modal" data-target="#pdff1{{a.idAusencia}}" id="imgn"><span class="glyphicon glyphicon-eye-open"><b></b></span></a></td>

                            <div id="pdff1{{a.idAusencia}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">X</button>
                                            <h4 class="modal-title">Registro No. {{a.idAusencia}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form  method="post" action="/edit_profile">
                                                <div class="form-group">
                                                    <embed id="pdf1" src="/empleadoEvidencia/{{a.idAusencia}}" type="application/pdf" width="100%" height="600px"/>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <td>{{a.estatus}}</td>
                            <td>{{a.motivo}}</td>
                            {%if a.estatus == 'EnCaptura'%}
                                <td><a href="/ausenciasEditar/{{a.idAusencia}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td><a data-toggle="modal" data-target="#elim1{{a.idAusencia}}" id="elimin1"><span class="glyphicon glyphicon-trash"></span></a></td>
                                <div id="elim1{{a.idAusencia}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">X</button>
                                                <h4 class="modal-title">Eliminación del registro de ausencia justificada NO. {{a.idAusencia}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿ Esta seguro de que quiere eliminar este registro?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/ausenciasEliminar/{{a.idAusencia}}" class="btn btn-info">Si</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        </tr>

                    {%endif%}
                {%endif%}
                {%endfor%}
                </tbody>
            </table>

    </div>
<!----------------------------------------------------------------------------------------------------------------------------------->
    <div id="menu2" class="tab-pane fade">
        <br>
        <div class="Buscador">
            <input id="myInput3" type="text" placeholder="Buscar">
        </div>
        <br /><br />
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>FECHA</th>
                <th>PERIODO</th>
                <th>TIPO</th>
                <th>SOLICITADOR</th>
                <th>EVIDENCIA</th>
                <th>ESTATUS</th>
                <th>MOTIVO</th>
                <th>EDITAR</th>
            </tr>
            </thead>
            <tbody id="myTable3">
            {%for a in ausenciasJ%}
            {%if a.estatus != 'Eliminado' and a.estatus != 'EnCaptura'%}
            {%if a.idEmpleadoAutoriza == current_user.idEmpleado%}

            <tr>
                <td>{{a.fechaSolicitud}}</td>
                <td>{{a.fechaInicio}} - {{a.fechaFin}}</td>
                <td>{{a.tipo}}</td>
                {%for e in empleados%}
                {%if a.idEmpleadoSolicita == e.idEmpleado%}
                <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                {%endif%}
                {%endfor%}
                <td><a data-toggle="modal" data-target="#pdff2{{a.idAusencia}}" id="imgn"><span class="glyphicon glyphicon-eye-open"><b></b></span></a></td>

                <div id="pdff2{{a.idAusencia}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Registro No. {{a.idAusencia}}</h4>
                            </div>
                            <div class="modal-body">
                                <form  method="post" action="/edit_profile">
                                    <div class="form-group">
                                        <embed id="pdf2" src="/empleadoEvidencia/{{a.idAusencia}}" type="application/pdf" width="100%" height="600px"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td>{{a.estatus}}</td>
                <td>{{a.motivo}}</td>
                <td><a href="/ausenciasEditar/{{a.idAusencia}}"><span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>

            {%endif%}
            {%endif%}
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
    {%else%}
       {%if current_user.is_authenticated and current_user.is_empleado()%}
            <br>
            <a href="/ausenciasJustificadasNuevo" class="btn btn-success" id="nuevo4"> <span class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
            <div class="Buscador">
                <input id="myInput5" type="text" placeholder="Buscar">
            </div>
            <br /><br />
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>FECHA</th>
                    <th>PERIODO</th>
                    <th>TIPO</th>
                    <th>AUTORIZADOR</th>
                    <th>EVIDENCIA</th>
                    <th>ESTATUS</th>
                    <th>MOTIVO</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
                </thead>
                <tbody id="myTable5">
                {%for a in ausencias%}
                    {%if a.estatus != 'Eliminado'%}
                        {%if a.idEmpleadoSolicita == current_user.idEmpleado%}

                            <tr>
                                <td>{{a.fechaSolicitud}}</td>
                                <td>{{a.fechaInicio}} - {{a.fechaFin}}</td>
                                <td width="5px">{{a.tipo}}</td>
                                {%for e in empleados%}
                                    {%if a.idEmpleadoAutoriza == e.idEmpleado%}
                                        <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                                    {%endif%}
                                {%endfor%}
                                <td><a data-toggle="modal" data-target="#pdff5{{a.idAusencia}}" id="imgn"><span class="glyphicon glyphicon-eye-open"><b></b></span></a></td>

                                <div id="pdff5{{a.idAusencia}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">X</button>
                                                <h4 class="modal-title">Registro No. {{a.idAusencia}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form  method="post" action="/edit_profile">
                                                    <div class="form-group">
                                                        <embed id="pdf5" src="/empleadoEvidencia/{{a.idAusencia}}" type="application/pdf" width="100%" height="600px"/>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <td>{{a.estatus}}</td>
                                <td>{{a.motivo}}</td>
                                {%if a.estatus == 'EnCaptura'%}
                                    <td><a href="/ausenciasEditar/{{a.idAusencia}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                {%else%}
                                <td> </td>
                                {%endif%}
                                {%if a.estatus != 'Solicitando'%}
                                    <td><a data-toggle="modal" data-target="#elim5{{a.idAusencia}}" id="elimin5"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    <div id="elim5{{a.idAusencia}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">X</button>
                                                    <h4 class="modal-title">Eliminación del registro de ausencia justificada NO. {{a.idAusencia}}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿ Esta seguro de que quiere eliminar este registro?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="/ausenciasEliminar/{{a.idAusencia}}" class="btn btn-info">Si</a>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%endif%}
                            </tr>
                        {%endif%}
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
       {%endif%}
    {%endif%}
{%endif%}
<br>


{%if current_user.is_authenticated and (current_user.is_staff() or current_user.is_administrador())%}
    <div class="conteiner">
        <ul class="pagination" style="margin-left: 70px;">

            {% if pagina <=1 %} <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% else %}
            <li><a class="page-link" href="/ausenciasJustificadasListadoGeneral/{{pagina-1}}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
            {% if pagina >= paginas %}
            <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
            {% else %}
            <li><a class="page-link" href="/ausenciasJustificadasListadoGeneral/{{pagina+1}}">Siguiente</a></li>
            {% endif %}
        </ul>
    </div>
{%endif%}

{%endblock content%}