body {
  margin: 50;
  margin-bottom: 40px;
  background-color: #f4fbfc;
  background-size: cover;
  height: 100%;
}

h1 {
  font-family: Georgia;
  size: 40px;
  padding-bottom: 15px;
  text-align: center;
  color: #243326;
}

#encabezadoPrincipal {
  background-color: #0d0d0e;
  color: #f3f5f4;
  padding-bottom: 0px;
  opacity: 0.8;
}

.navbar-brand {
  padding: 5px;
}

#menu {
  /*background-color: rgb(79, 80, 74);*/
  color: white;
}
#naveg,
#encabezadoPrincipal {
  padding: 10px;
  font-size: 20px;
  font-family: Arial Narrow;
  margin-top: 0px;
  margin-bottom: 0px;
}
footer {
  background: #d0dacd;
  color: black;
  font-size: 20px;
  font-family: Arial Narrow;
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 58px;
}
#descrip {
  font-size: 20px;
}

html {
  min-height: 100%;
  position: relative;
}

#piePagina {
  color: #243326;
  background: #d0dacd;
}
#naveg {
  color: white;
}
/* Estilos para el reloj */
.widget p {
  display: inline-block;
  line-height: 10px;
}

.reloj {
  font-family: Oswald, Arial;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #243326;
  background: #d0dacd;
}

.reloj .caja_segundos {
  display: inline-block;
}

table,
th tr,
td {
  font-family: Arial Narrow;
  font-size: 20px;
  text-align: justify;
}

.table th {
  background-color: #dfddd1;
  text-transform: uppercase;
  text-align: justify;
}
.table {
  width: 90%;
  margin: auto;
}

#nuevo1 {
  margin-left: 5%;
  color: black;
  size: 20 px;
}
.formularios {
  border-radius: 30px;
  background-color: #b2b59b;
  border: 3px solid #b2b59b;
  padding: 20px;
  width: 50%;
  margin: auto;
  font-family: Arial Narrow;
  font-size: 15px;
}
label {
  color: white;
}
.Buscador{
    float: right;
    margin-right: 5%;
}