body {
  margin: 50;
  margin-bottom: 40px;
  background-color: #f4fbfc;
  background-size: cover;
  height: 100%;
}

h1 {
  font-family: Georgia;
  size: 40px;
  padding-bottom: 15px;
  text-align: center;
  color: #243326;
}

#encabezadoPrincipal {
  background-color: #0d0d0e;
  color: #f3f5f4;
  padding-bottom: 0px;
  opacity: 0.8;
}

.navbar-brand {
  padding: 5px;
}

#menu {
  /*background-color: rgb(79, 80, 74);*/
  color: white;
}
#naveg,
#encabezadoPrincipal {
  padding: 10px;
  font-size: 20px;
  font-family: Arial Narrow;
  margin-top: 0px;
  margin-bottom: 0px;
}
footer {
  background: #d0dacd;
  color: black;
  font-size: 20px;
  font-family: Arial Narrow;
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 58px;
}
#descrip {
  font-size: 20px;
}

html {
  min-height: 100%;
  position: relative;
}

#piePagina {
  color: #243326;
  background: #d0dacd;
}
#naveg {
  color: white;
}
/* Estilos para el reloj */
.widget p {
  display: inline-block;
  line-height: 10px;
}

.reloj {
  font-family: Oswald, Arial;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #243326;
  background: #d0dacd;
}

.reloj .caja_segundos {
  display: inline-block;
}

table,
th tr,
td {
  font-family: Arial Narrow;
  font-size: 20px;
  text-align: justify;
}

.table th {
  background-color: #dfddd1;
  text-transform: uppercase;
  text-align: justify;
}
.table {
  width: 90%;
  margin: auto;
}

#ex1{
  margin-inline: 5%;
  color: #1b7242;
}

#nuevo1, #nuevo11{
  margin-left: 5%;
  color: black;
  size: 20 px;
}
#nuevo_esp{
  color: black;
  size: 20 px;
}
.formularios {
  border-radius: 15px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  background-color: #b2b59b;
  border: 3px solid #b2b59b;
  padding: 20px;
  width: 50%;
  margin: auto;
  font-family: Arial Narrow;
  font-size: 15px;
}
label {
  color: white;
}

#ladDerecho1,#ladDerecho, #ladiz,#ladiz1{
    margin-top: 6px;
    color: white;
}
.est{
  display: inline;
  margin-left: 20px;
}
.Buscador{
    float: right;
    margin-right: 5%;
}

.dias{
  margin-left: 12px;
}
#L,#M,#MI,#J,#V,#S,#DO{
  color: white;
}
.list{
  list-style: none;
  color: white;
  margin-left: 0px;
}
.list li{
  display: inline;
  padding-right: 30px;
}

#ya{
  float: right;
}
input:invalid {
  box-shadow: 0 0 5px 1px red;
}
select:invalid {
  box-shadow: 0 0 5px 1px red;
}
/* input [type = file]
----------------------------------------------- */

input[type=file] {
	display: block !important;
	right: 1px;
	top: 1px;
	height: 34px;
	opacity: 0;
  width: 100%;
	background: none;
	position: absolute;
  overflow: hidden;
  z-index: 2;
}

.control-fileupload {
  display: block;
  border: 1px solid #d6d7d6;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0px 10px 2px 10px;
  overflow: hidden;
  position: relative;
  /* File upload button */
}
.control-fileupload:before,
.control-fileupload input,
.control-fileupload label {
  cursor: pointer !important;
}
.control-fileupload:before {
  /* inherit from boostrap btn styles */
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: color 0.2s ease;
  /* add more custom styles*/
  content: "Browse";
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  line-height: 20px;
  text-align: center;
}
.control-fileupload:hover:before,
.control-fileupload:focus:before {
  background-color: #e6e6e6;
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.2s ease-out;
}
.control-fileupload label {
  line-height: 24px;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  z-index: 1;
  margin-right: 90px;
  margin-bottom: 0px;
  cursor: text;
}

/*
Fomulario fieldset ---------------------------------------------------------------*/



#msform {
  text-align: center;
  position: relative;
  margin-top: 10px;
  background: #f4fbfc;
  border-color: #f4fbfc;
  box-shadow: 0 0 15px 1px #f4fbfc;
  padding: 20px;
  width: 75%;
  margin: auto;
  font-size: 15px;
}

#msform fieldset {
  /*background: white;*/
  background-color: #b2b59b;
  border: 0 none;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;

  /*stacking fieldsets above each other*/
  position: relative;
}

.form-card {
  text-align: left
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none ;
  -webkit-box-shadow: none ;
  box-shadow: none ;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: #8d7713fa;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #26a19a;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000
}

.card {
  z-index: 0;
  border: none;
  position: relative
}

.fs-title {
  font-size: 25px;
  color: #27945d;
  margin-bottom: 15px;
  text-align: left
}

.purple-text {
  color: #27945d;
  font-weight: normal
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right
}

.fieldlabels {
  color: gray;
  text-align: left
}

#progressbar {
  margin-bottom: 0px;
  overflow: hidden;
  color: lightgrey
}

#progressbar .active {
  color: #1b7242
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relativce;
  font-weight: 400
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "1"
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "2"
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "3"
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "4"
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: rgb(39, 104, 73)
}

.progress {
  height: 10px
}

.progress-bar {
  background-color: #3a553e
  
}

.fit-image {
  width: 100%;
  object-fit: cover
}

#datos{
  width: 40%;
  margin: auto;
}

.dias{
  margin-left: 12px;
}
#L,#M,#MI,#J,#V,#S,#DO{
  color: white;
}
.list{
  list-style: none;
  color: white;
  margin-left: 0px;
}
.list li{
  display: inline;
  padding-right: 30px;
}
