{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>
<br /><br />
<form action="/registrardocumentacionEmpleado" method="post" class="formularios" enctype="multipart/form-data">
    <h1>AGREGAR DOCUMENTACIÓN</h1>

    <div class="form-group">
        <label class="control-label col-sm-2" for="nombreEmpleado">Empleado: </label>
        <div class="col-sm-10">
            <input type="hidden" id="idEmpleado" name="idEmpleado" value="{{empleado.idEmpleado}}">
            <input type="text" name="nombre" id="nombreEmpleado" value="{{empleado.nombre}} {{empleado.apellidoPaterno}} {{empleado.apellidoMaterno}}"
                   class="form-control" readonly/>
        </div>
    </div>
    <br /><br />

    <div class="form-group">
        <label class="control-label col-sm-2" for="nombreDocumento">Nombre: </label>
        <div class="col-sm-10">
            <input type="text" name="nombreDocumento" id="nombreDocumento" placeholder="Nombre del documento" maxlength="80" class="form-control" onblur="consultarDocumento()" required/>
            <div id="notificacionesNom" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    <br /><br />

    <div class="form-group">
        <label class="control-label col-sm-2" for="fechaEntrega">Fecha de entrega: </label>
        <div class="col-sm-10">
            <input class="form-control" type="date" name="fechaEntrega" id="fechaEntrega" placeholder="Fecha de entrega"
                   required />
        </div>
    </div>
    <br /><br />

    <div class="form-group">
        <div class="col-sm-10">
            <label for="documento">Documento: </label>
            <input type="file" name="documento" id="documento" value="Selecciona el documento" accept=".pdf">
        </div>
    </div>
    <br /><br><br/>

    <a class="btn btn-dark" href="/documentacionEmpleado/1,{{empleado.idEmpleado}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="registrar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>

    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}

</form>
<br /><br />
{%endblock content%}