{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<br/><br/>
<form  action="/guardarPeriodo" method="post" class="formularios" enctype="multipart/form-data">
    <h1>MODIFICACIÓN DE DATOS DE UN PERIODO</h1>
    <input type="hidden" name="idPeriodo" id="idPeriodo" value="{{periodo.idPeriodo}}" readonly/>
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre" value="{{periodo.nombre}}" maxlength="50" size="50" required/>
    <br/><br/>
    <label for="fechaInicio">Fecha de inicio: </label>
    <input type="date" name="fechaInicio" id="fechaInicio" value="{{periodo.fechaInicio}}"  required/>
    <br/><br/>
    <label for="fechaFin">Fecha de inicio: </label>
    <input type="date" name="fechaFin" id="fechaFin" value="{{periodo.fechaFin}}"  required/>
    <br/><br/>
    <div>
        {% if periodo.estatus==True%}
        <label>Estatus:</label>
        <input type="checkbox" name="estatus" checked value="True">
        {% else %}
        <label>Estatus:</label>
        <input type="checkbox" name="estatus" value="True">
        {% endif %}
    </div>
    <br/><br/>
    <a class="btn btn-dark" href="/periodos"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button type="submit" id="guardar" class="btn btn-info"><span class="glyphicon glyphicon-floppy-saved"> Guardar</span></button>
    <a data-toggle="modal" data-target="#elim" id="elimin" class="btn btn-danger" ><span class="glyphicon glyphicon-trash"></span></a>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br/><br/>
<div id="elim"  class="modal fade" role="dialog">
    <div class="modal-dialog" role="eliminar">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminación del periodo: {{periodo.nombre}}</h4>
            </div>
            <div class="modal-body">
                <p>¿ Esta seguro de que quiere eliminar este registro ?</p>
            </div>
            <div class="modal-footer">
                <a href="/periodosEliminar/{{periodo.idPeriodo}}" class="btn btn-info">Si</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}