{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE PERIODOS</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
</div>
<a href="/periodosNuevo" class="btn btn-success" id="nuevo1"> <span class="glyphicon glyphicon-file"> <b>Nuevo</b></span></a>
<br/><br/>
<table class="table table-bordered" >
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>FECHA INICIO</th>
        <th>FECHA FIN</th>
        <th>ESTATUS</th>
        <th>EDITAR</th>
    </tr>
    </thead>
    {% for p in periodos %}
    <tr>
        <td>{{p.idPeriodo}}</td>
        <td>{{p.nombre}}</td>
        <td>{{p.fechaInicio}}</td>
        <td>{{p.fechaFin}}</td>
        {% if p.estatus==1%}
        <td>ACTIVO</td>
        {%else%}
        <td>INACTIVO</td>
        {% endif %}
        <td><a href="/periodosEditar/{{p.idPeriodo}}"><span class="glyphicon glyphicon-edit"></span></a></td>
    </tr>
    {% endfor %}
</table>
</div>
<br/>
{%endblock content%}