{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>
<link rel="stylesheet" href="..\static\css\fontawesome.min.css">

<br /><br />
<form action="/registrarSucursal" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UNA SUCURSAL</h1>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-10">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="50" class="form-control" onblur="consultarSucuNom()"/>
            <div id="notificacionesNom" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    <br /><br />

    <div class="form-group">
        <label class="control-label col-sm-2" for="telefono">Teléfono: </label>
        <div class="col-sm-3">
            <input class="form-control" type="tel" name="telefono" id="telefono" placeholder="Teléfono" maxlength="12" onblur="consultarSucuTel()"
                   required />
                   
        </div>
    <!--</div>
    <br /><br />

    <div class="form-group">-->
        <label class="control-label col-sm-2" for="direccion" id="ladDerecho1">Dirección: </label>
        <div class="col-sm-5">
            <input class="form-control" type="text" name="direccion" id="direccion" placeholder="Dirección" maxlength="80"
                   required />
                   <div id="notificacionesNom" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    
    <br />
    <div id="notificacionesTel" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="colonia">Colonia: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="colonia" id="colonia" placeholder="Colonia" maxlength="50"
                   required />
        </div>
    </div>
    <br /><br />

    <div class="form-group">
        <label class="control-label col-sm-2" for="codigoPostal">Código Postal: </label>
        <div class="col-sm-3">
            <input class="form-control" type="text" name="codigoPostal" id="codigoPostal" placeholder="C.P." maxlength="5"
                   required />
        </div>
    <!--</div>
    <br /><br />

    <div class="form-group">-->
        <label class="control-label col-sm-2" for="presupuesto" id="ladDerecho"> Presupuesto: </label>
        <div class="col-sm-5">
            <input class="form-control" type="number" name="presupuesto" id="presupuesto" placeholder="Presupuesto" step="0.1" maxlength="50"
                   required />
        </div>
    </div>
    <br /><br />

    <div class="form-group">
        <div class="dropdown">
            <label class="control-label col-sm-2" for="idCiudad">Ciudad: </label>
            <div class="col-sm-5">
                <select class="form-control" id="idCiudad" name="idCiudad">
                    <option value="x" selected disabled>Selecciona</option>
                    {% for c in ciudades%}
                    <option value="{{c.idCiudad}}">{{c.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    <!--</div>
    <br /><br>-->

    {% if activado==1%}
    <!--<div class="form-group">-->
        <div class="est">
            <label for="estatus">Estatus: </label>
            <input type="checkbox" id="estatus" name="estatus" checked value="True">
        </div>
    </div>
    {% else %}
    <!--<div class="form-group">-->
        <div class="est">
            <label for="estatus">Estatus: </label>
            <input type="checkbox" name="estatus" value="True">
        </div>
    </div>
    {% endif %}
    <br />

    <a class="btn btn-dark" href="/sucursales/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="registrar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>

    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}

</form>
<br /><br />
{%endblock content%}