{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE FORMAS DE PAGO</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
</div>
{%if current_user.is_authenticated and (current_user.is_administrador() or current_user.is_staff())%}
<a href="/formasPagoNuevo" class="btn btn-success" id="nuevo1"> <span class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
{%endif%}
<div class="Buscador">
    <input id="myInput" type="text" placeholder="Buscar">
</div>
<br /><br />
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>ESTATUS</th>
            {%if current_user.is_authenticated and (current_user.is_administrador() or current_user.is_staff())%}
            <th>EDITAR</th>
            {%endif%}
        </tr>
    </thead>
    <tbody id="myTable">
    {% for f in formasPago %}
    <tr>
        <td>{{f.idFormaPago}}</td>
        <td>{{f.nombre}}</td>
        {% if f.estatus==1%}
        <td>HABILITADO</td>
        {%else%}
        <td>DESHABILITADO</td>
        {% endif %}
        {%if current_user.is_authenticated and (current_user.is_administrador() or current_user.is_staff())%}
        <td><a href="/formasPagoEditar/{{f.idFormaPago}}"><span class="glyphicon glyphicon-edit"></span></a></td>
        {%endif%}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<br />
<div class="conteiner">
    <ul class="pagination" style="margin-left: 70px;">
        
        {% if pagina <=1 %} <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% else %}
            <li><a class="page-link" href="/formasPago/{{pagina-1}}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
            {% if pagina >= paginas %}
            <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
            {% else %}
            <li><a class="page-link" href="/formasPago/{{pagina+1}}">Siguiente</a></li>
            {% endif %}
    </ul>
</div>
{%endblock content%}