{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>
<br /><br />
<form action="/registrarformaPago" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UNA NUEVA FORMA DE PAGO</h1>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="50"
                onblur="consultarFormaPago()" size="20" required pattern="[A-Za-z]{2,50}" title="Incluir solo letras. Tamaño mínimo: 2. Tamaño máximo: 50" />
            <div id="notificacionesNom" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    <br /><br />
    {% if activado==1%}
    <div class="form-group">
        <label class="form-check-label col-sm-2">Estatus:</label>
        <div class="col-sm-10">

            <input class="form-check-input" type="checkbox" name="estatus" checked value="True">
        </div>
    </div>
    {% else %}
    <div class="form-group">
        <label class="control-label col-sm-2">Estatus:</label>
        <div class="col-sm-10">
            <input class="form-check-input" type="checkbox" name="estatus" value="True">
        </div>
    </div>
    {% endif %}
    <br /><br />
    <a class="btn btn-dark" href="/formasPago/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="registrar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br /><br />
{%endblock content%}