{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>
<br /><br />
<form action="/registrarPuesto" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UN PUESTO</h1>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" type="text" name="nombre" id="nombre" placeholder="Nombre" onblur="consultarPuesto()"
                maxlength="60" required pattern="[A-Za-z]{2,60}" title="Incluir solo letras. Tamaño mínimo: 2. Tamaño máximo: 60" />
                <div id="notificacionesNom" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="salarioMinimo">Salario Minimo: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" type="number" name="salarioMinimo" id="salarioMinimo"
                   step="0.1" placeholder="salarioMinimo" required />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="salarioMaximo">Salario Máximo: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" type="number" name="salarioMaximo" id="salarioMaximo"
                   step="0.1" placeholder="salarioMaximo" required />
        </div>
    </div>
    <br /><br />

    {% if activado==1%}
    <div class="form-group">
        <label class="control-label col-sm-2">Estatus:</label>
        <div class="col-sm-10">
            <input type="checkbox" name="estatus" checked value="True">
        </div>
    </div>
    {% else %}
    <div class="form-group">
        <label class="control-label col-sm-2">Estatus:</label>
        <div class="col-sm-10">
            <input type="checkbox" name="estatus" value="True">
        </div>
    </div>
    {% endif %}
    <br /><br />
    <a class="btn btn-dark" href="/puestos/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="registrar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br /><br />
{%endblock content%}