{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<br/><br/>
<form  action="/registrarPuesto" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UN PUESTO</h1>
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="60" required/>
    <br/><br/>
    <label for="salarioMinimo">Salario Minimo: </label>
    <input type="number" name="salarioMinimo" id="salarioMinimo" placeholder="salarioMinimo"  required/>
    <br/><br/>
    <label for="salarioMaximo">Salario Máximo: </label>
    <input type="number" name="salarioMaximo" id="salarioMaximo" placeholder="salarioMaximo"  required/>
    <br/><br/>
    {% if activado==1%}
    <label>Estatus:</label>
    <input type="checkbox" name="estatus" checked value="True">
    {% else %}
    <label>Estatus:</label>
    <input type="checkbox" name="estatus" value="True">
    {% endif %}
    <br/><br/>
    <a class="btn btn-dark" href="/puestos"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button type="submit" id="registrar" class="btn btn-info"><span class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br/><br/>
{%endblock content%}