{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE PUESTOS</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
</div>
<a href="/puestosNuevo" class="btn btn-success" id="nuevo1"> <span class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
<div class="Buscador">
    <input id="myInput" type="text" placeholder="Buscar">
</div>
<br /><br />
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>SALARIO MINIMO</th>
            <th>SALARIO MÁXIMO</th>
            <th>ESTATUS</th>
            <th>EDITAR</th>
        </tr>
    </thead>
    <tbody id="myTable">
    {% for p in puestos %}
    <tr>
        <td>{{p.idPuesto}}</td>
        <td>{{p.nombre}}</td>
        <td>{{p.salarioMinimo}}</td>
        <td>{{p.salarioMaximo}}</td>
        {% if p.estatus==1%}
        <td>ACTIVO</td>
        {%else%}
        <td>INACTIVO</td>
        {% endif %}
        <td><a href="/puestosEditar/{{p.idPuesto}}"><span class="glyphicon glyphicon-edit"></span></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<br />
<div class="conteiner">
    <ul class="pagination" style="margin-left: 70px;">
        
        {% if pagina <=1 %} <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% else %}
            <li><a class="page-link" href="/puestos/{{pagina-1}}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
            {% if pagina >= paginas %}
            <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
            {% else %}
            <li><a class="page-link" href="/puestos/{{pagina+1}}">Siguiente</a></li>
            {% endif %}
    </ul>
</div>
{%endblock content%}