{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>
<br /><br />
<form action="/registrarCiudad" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UNA CIUDAD</h1>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-10">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="60" class="form-control" onblur="consultarCiudad()"
                required pattern="[A-Za-z]{2,60}" title="Incluir solo letras. Tamaño mínimo: 2. Tamaño máximo: 60" />
                <div id="notificacionesNom" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="dropdown">
            <label class="control-label col-sm-2" for="idEstado">Estado: </label>
            <div class="col-sm-10">
                <select class="form-control" id="idEstado" name="idEstado">
                    <option value="x" selected disabled>Selecciona</option>
                    {% for e in estados%}
                    <option value="{{e.idEstado}}">{{e.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <br /><br>
    <a class="btn btn-dark" href="/ciudades/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="registrar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br /><br />
{%endblock content%}