{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<br/><br/>
<form  action="/registrarCiudad" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UNA CIUDAD</h1>
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="60" required/>
    <br/><br/>

    <div class="dropdown">
        <label for="idEstado">Estado: </label>
        <select id="idEstado" name="idEstado">
            <option value="x" selected disabled>Selecciona</option>
            {% for e in estados%}
            <option value="{{e.idEstado}}" >{{e.nombre}}</option>
            {% endfor %}
        </select>
    </div>

    <br/>
    <a class="btn btn-dark" href="/ciudades"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button type="submit" id="registrar" class="btn btn-info"><span class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br/><br/>
{%endblock content%}