{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE PERCEPCIONES</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
</div>
<a href="/percepcionesNuevo" class="btn btn-success" id="nuevo1"> <span class="glyphicon glyphicon-file">
        <b>Nuevo</b></span></a>
<br /><br />
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCIÓN</th>
            <th>DIAS A PAGAR</th>
            <th>EDITAR</th>
        </tr>
    </thead>
    {% for p in percepciones %}
    <tr>
        <td>{{p.idPercepcion}}</td>
        <td>{{p.nombre}}</td>
        <td>{{p.descripcion}}</td>
        <td>{{p.diasPagar}}</td>
        <td><a href="/percepcionesEditar/{{p.idPercepcion}}"><span class="glyphicon glyphicon-edit"></span></a></td>
    </tr>
    {% endfor %}
</table>
</div>
<br />
{%endblock content%}