{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>
<br /><br />
<form action="/registrarPercepcion" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UNA PERCEPCIÓN</h1>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" type="text" name="nombre" id="nombre" placeholder="Nombre" onblur="consultarPercepcion()"
                maxlength="30" size="30" required pattern="[A-Za-z]{2,30}" title="Incluir solo letras. Tamaño mínimo: 2. Tamaño máximo: 30" />
                <div id="notificacionesNom" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="descripcion">Descripción: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" type="text" name="descripcion" id="descripcion"
                placeholder="Descripción" maxlength="80" size="80" required />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="diasPagar">Dias a Pagar: </label>
        <div class="col-sm-10">
            <input class="form-control" type="number" type="number" name="diasPagar" id="diasPagar"
             min="1"   placeholder="Dias a Pagar" required />
        </div>
    </div>
    <br /><br />
    <a class="btn btn-dark" href="/percepciones/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button style="background-color: #389242;" type="submit" id="registrar" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br /><br />
{%endblock content%}