{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE DEPARTAMENTOS</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
</div>
<a href="/empleadosNuevo" class="btn btn-success" id="nuevo1"> <span class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
<div class="Buscador">
    <input id="myInput" type="text" placeholder="Buscar">
</div>
<br /><br/>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>FOTOGRAFIA</th>
            <th>NOMBRE</th>
            <th>APELLIDO PATERNO</th>
            <th>APELLIDO MATERNO</th>
            <th>TIPO</th>
            <th>PUESTO</th>
            <th>DEPARTAMENTO</th>
            <th>ESTATUS</th>
            <th>EDITAR</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for e in empleados %}
        <tr>
            {% if e.estatus == 1 %}
                <td>{{e.idEmpleado}}</td>
                <td><img src="/empleados/imagen/{{e.idEmpleado}}" width="80"></td>
                <td>{{e.nombre}}</td>
                <td>{{e.apellidoPaterno}}</td>
                <td>{{e.apellidoMaterno}}</td>
                {% if e.tipo=='A'%}
                    <td>Administrador</td>
                {% endif %}
                {% if e.tipo=='E'%}
                    <td>Empleado</td>
                {% endif %}
                {% if e.tipo=='S'%}
                    <td>Staff</td>
                {% endif %}

                {% for p in puestos %}
                    {%if e.idPuesto == p.idPuesto%}
                        <td>{{p.nombre}}</td>
                        {%endif%}
                {%endfor%}

                {% for d in departamentos %}
                    {%if e.idDepartamento == d.idDepartamento%}
                        <td>{{d.nombre}}</td>
                        {%endif%}
                {%endfor%}

                {% if e.estatus==1%}
                    <td>ACTIVO</td>
                {%else%}
                    <td>INACTIVO</td>
                {% endif %}
                <td><a href="/empleadosEditar/{{e.idEmpleado}}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            {%else%}
                {%if current_user.is_authenticated and current_user.is_administrador()%}
                    <td>{{e.idEmpleado}}</td>
                    <td>{{e.nombre}}</td>
                    {% if e.estatus==1%}
                    <td>ACTIVO</td>
                    {%else%}
                    <td>INACTIVO</td>
                    {% endif %}
                    <td><a href="/empleadosEditar/{{e.idEmpleado}}"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                {%endif%}
            {%endif%}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<br />
<div class="conteiner">
    <ul class="pagination" style="margin-left: 70px;">
        
        {% if pagina <=1 %} <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% else %}
            <li><a class="page-link" href="/empleados/{{pagina-1}}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
            {% if pagina >= paginas %}
            <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
            {% else %}
            <li><a class="page-link" href="/empleados/{{pagina+1}}">Siguiente</a></li>
            {% endif %}
    </ul>
</div>
{%endblock content%}