{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE EMPLEADOS</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}

<script>
    $(document).ready(function(){
        $("#myInput2").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable2 tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      $(document).ready(function(){
        $("#myInput3").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable3 tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      $(document).ready(function(){
        $("#myInput4").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable4 tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
</script>

<ul class="nav nav-tabs" id="ex1">
    <li class="active"><a data-toggle="tab" href="#menu1" style="color: darkgreen;">Datos Personales</a></li>
    <li><a data-toggle="tab" href="#menu2" style="color: darkgreen;">Datos Profesionales</a></li>
    <li><a data-toggle="tab" href="#menu3" style="color: darkgreen;">Datos de Contratacion</a></li>
    <li><a data-toggle="tab" href="#menu4" style="color: darkgreen;">Datos de Sesion</a></li>
</ul>

<div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">

        <br />

        <a href="/empleadosNuevo" class="btn btn-success" id="nuevo1"> <span
                class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
        <div class="Buscador">
            <input id="myInput" type="text" placeholder="Buscar">
        </div>
        <br /><br />
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>FOTOGRAFIA</th>
                    <th>NOMBRE</th>
                    <th>SEXO</th>
                    <th>NACIMIENTO</th>
                    <th>CURP</th>
                    <th>COLONIA Y C.P.</th>
                    <th>DIRECCION</th>
                    <th>EST CIVIL</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for e in empleados %}
                <tr>
                    {% if e.estatus == 1 %}
                    <td>{{e.idEmpleado}}</td>
                    <td><img src="/empleados/imagen/{{e.idEmpleado}}" width="70"></td>
                    <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                    {% if e.sexo=='F'%}
                    <td>Mujer</td>
                    {%else %}
                    <td>Hombre</td>
                    {% endif %}
                    <td>{{e.fechaNacimiento}}</td>
                    <td>{{e.curp}}</td>
                    <td>{{e.colonia}} C.P.: {{e.codigoPostal}}</td>
                    <td>{{e.direccion}}</td>
                    <td>{{e.estadoCivil}}</td>
                    <td><a href="/empleadosEditar/{{e.idEmpleado}}"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                    <td><a data-toggle="modal" data-target="#el{{e.idEmpleado}}" id="el"><span
                            class="glyphicon glyphicon-trash"></span></a></td>
                    <div id="el{{e.idEmpleado}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">X</button>
                                    <h4 class="modal-title">Eliminación del empleado: {{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿ Esta seguro de que quiere eliminar este empleado ?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/empleadosEliminar/{{e.idEmpleado}}" class="btn btn-info">Si</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br />



    <div id="menu2" class="tab-pane fade">
        <!------------------------------------------------------------------------------------------------------------------------Profesional-->

        <a href="/empleadosNuevo" class="btn btn-success" id="nuevo1"> <span
                class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
        <div class="Buscador">
            <input id="myInput2" type="text" placeholder="Buscar">
        </div>
        <br /><br />
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>FOTOGRAFIA</th>
                    <th>NOMBRE</th>
                    <th>ESCOLARIDAD</th>
                    <th>ESPECIALIDAD</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody id="myTable2">
                {% for e in empleados %}
                <tr>
                    {% if e.estatus == 1 %}
                        <td>{{e.idEmpleado}}</td>
                        <td><img src="/empleados/imagen/{{e.idEmpleado}}" width="70"></td>
                        <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                        <td>{{e.escolaridad}}</td>
                        <td>{{e.especialidad}}</td>
                        <td><a href="/empleadosEditar/{{e.idEmpleado}}"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td><a data-toggle="modal" data-target="#elim2{{e.idEmpleado}}" id="elimin2"><span
                                class="glyphicon glyphicon-trash"></span></a></td>
                        <div id="elim2{{e.idEmpleado}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">X</button>
                                        <h4 class="modal-title">Eliminación del empleado: {{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿ Esta seguro de que quiere eliminar este empleado ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/empleadosEliminar/{{e.idEmpleado}}" class="btn btn-info">Si</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br />


    <div id="menu3" class="tab-pane fade">
        <!------------------------------------------------------------------------------------------------------------------------Profesional-->

        <a href="/empleadosNuevo" class="btn btn-success" id="nuevo1"> <span
            class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
        <div class="Buscador">
            <input id="myInput3" type="text" placeholder="Buscar">
        </div>
        <br /><br />
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>FOTO</th>
                    <th>NOMBRE</th>
                    <th>SUCURSAL</th>
                    <th>DEPA..</th>
                    <th>PUESTO</th>
                    <th>F.CONTRAT..</th>
                    <th>TIPO</th>
                    <th>NSS</th>
                    <th>TURNO</th>
                    <th>SALARIO</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody id="myTable3">
                {% for e in empleados %}
                <tr>
                    {% if e.estatus == 1 %}
                        <td><img src="/empleados/imagen/{{e.idEmpleado}}" width="50"></td>
                        <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>
                        {% for s in sucursales %}
                            {%if s.idSucursal == e.idSucursal %}
                                <td>{{s.nombre}}</td>
                            {%endif%}
                        {%endfor%}
                        {% for d in departamentos %}
                            {%if d.idDepartamento == e.idDepartamento %}
                                <td>{{d.nombre}}</td>
                            {%endif%}
                        {%endfor%}
                        {% for p in puestos %}
                            {%if p.idPuesto == e.idPuesto %}
                                <td>{{p.nombre}}</td>
                            {%endif%}
                        {%endfor%}
                        <td>{{e.fechaContratacion}}</td>
                        <td>{{e.tipo}}</td>
                        <td>{{e.nss}}</td>
                        {% for t in turnos %}
                            {%if t.idTurno == e.idTurno %}
                                <td>{{t.nombre}}</td>
                            {%endif%}
                        {%endfor%}
                        <td>{{e.salarioDiaro}}</td>
                        <td><a href="/empleadosEditar/{{e.idEmpleado}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a data-toggle="modal" data-target="#elim{{e.idEmpleado}}" id="elimin"><span
                                class="glyphicon glyphicon-trash"></span></a></td>
                        <div id="elim{{e.idEmpleado}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">X</button>
                                        <h4 class="modal-title">Eliminación del empleado: {{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿ Esta seguro de que quiere eliminar este empleado ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/empleadosEliminar/{{e.idEmpleado}}" class="btn btn-info">Si</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br />
    <div id="menu4" class="tab-pane fade">

        <!------------------------------------------------------------------------------------------------------------------------Profesional-->

            <a href="/empleadosNuevo" class="btn btn-success" id="nuevo1"> <span
                class="glyphicon glyphicon-file"><b>Nuevo</b></span></a>
            <div class="Buscador">
                <input id="myInput4" type="text" placeholder="Buscar">
            </div>
            <br /><br />
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>FOTO</th>
                        <th>NOMBRE</th>
                        <th>CORREO</th>
                        <th>ESTATUS</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody id="myTable4">
                    {% for e in empleados %}
                    <tr>
                        {% if e.estatus == 1 %}
                            <td>{{e.idEmpleado}}</td>
                            <td><img src="/empleados/imagen/{{e.idEmpleado}}" width="50"></td>
                            <td>{{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</td>

                            <td>{{e.email}}</td>
                            {% if e.estatus==1%}
                                <td>ACTIVO</td>
                            {%else%}
                                <td>INACTIVO</td>
                            {% endif %}
                            <td><a href="/empleadosEditar/{{e.idEmpleado}}"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>

                            {%else%}
                            {%if current_user.is_authenticated and current_user.is_administrador()%}
                                    <td>{{e.idEmpleado}}</td>
                                    <td>{{e.nombre}}</td>
                                {% if e.estatus==1%}
                                    <td>ACTIVO</td>
                                {%else%}
                                    <td>INACTIVO</td>
                                {% endif %}
                                <td><a href="/empleadosEditar/{{e.idEmpleado}}"><span class="glyphicon glyphicon-edit"></span></a>
                                </td>
                                <td><a data-toggle="modal" data-target="#elim{{e.idEmpleado}}" id="elimin"><span
                                class="glyphicon glyphicon-trash"></span></a></td>
                                <div id="elim{{e.idEmpleado}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">X</button>
                                                <h4 class="modal-title">Eliminación del empleado: {{e.nombre}} {{e.apellidoPaterno}} {{e.apellidoMaterno}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿ Esta seguro de que quiere eliminar este empleado ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/empleadosEliminar/{{e.idEmpleado}}" class="btn btn-info">Si</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br />


    </div>

        <!------Aqui va todo lo de DOCUMENTOS-------------------------------------------------------------------------------------------------->



</div>












<div class="conteiner">
    <ul class="pagination" style="margin-left: 70px;">

        {% if pagina <=1 %} <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% else %}
            <li><a class="page-link" href="/empleados/{{pagina-1}}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Pagina <b>{{pagina}}</b> de
                    <b>{{paginas}}</b></a></li>
            {% if pagina >= paginas %}
            <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
            {% else %}
            <li><a class="page-link" href="/empleados/{{pagina+1}}">Siguiente</a></li>
            {% endif %}
    </ul>
</div>






{%endblock content%}