{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<br/><br/>
<form  action="/registrarEstado" method="post" class="formularios" enctype="multipart/form-data">
    <h1>REGISTRO DE UN ESTADO</h1>
    <div class="form-group">
    <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-10">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="60" class="form-control" required/>
        </div>
    </div>
    <br/>
<br/>
    <div class="form-group">
    <label class="control-label col-sm-2" for="siglas">Siglas: </label>
        <div class="col-sm-10">
            <input type="text" name="siglas" id="siglas" placeholder="Siglas" maxlength="10" class="form-control" required/>
        </div>
    </div>
    <br/>

    <br/>
    <a class="btn btn-dark" href="/estados"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button type="submit" id="registrar" style="background-color: #389242;" class="btn btn-info"><span class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br/><br/>
{%endblock content%}