{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE NOMINAS</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
<a href="/generarExcel" class="btn btn-success" id="nuevo1"> <b>GENERAR EXCEL</b></a>
<div class="Buscador">
    <input id="myInput" type="text" placeholder="Buscar">
</div>
<br /><br/>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            {%if current_user.is_authenticated and (current_user.is_administrador() or current_user.is_staff())%}
            <th>NOMBRE</th>
            {%endif%}
            <th>PERIODO</th>
            <th>FECHA PAGO</th>
            <th>FORMA PAGO</th>
            <th>FECHA ELABORACION</th>
            <th>DIAS TRABAJADOS</th>
            <th>PERCEPCIONES</th>
            <th>RETENCIONES</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for n in nominas %}
        {%if current_user.is_authenticated and current_user.is_empleado()%}
            {%if n.idEmpleado == current_user.idEmpleado and n.estatus == 'Aceptada'%}
                <tr>
                    <td>{{n.periodo.nombre}}</td>
                    <td>{{n.fechaPago}}</td>
                    <td>{{n.formaPago.nombre}}</td>
                    <td>{{n.fechaElaboracion}}</td>
                    <td>{{n.diasTrabajados}}</td>
                    <td>{{n.subtotal}}</td>
                    <td>{{n.retenciones}}</td>
                    <td>{{n.total}}</td>
                </tr>
            {%endif%}
        {%else%}
            <tr>
                <td>{{n.empleado.nombre}} {{n.empleado.apellidoPaterno}} {{n.empleado.apellidoMaterno}}</td>
                <td>{{n.periodo.nombre}}</td>
                <td>{{n.fechaPago}}</td>
                <td>{{n.formaPago.nombre}}</td>
                <td width="10px">{{n.fechaElaboracion}}</td>
                <td>{{n.diasTrabajados}}</td>
                <td>{{n.subtotal}}</td>
                <td>{{n.retenciones}}</td>
                <td>{{n.total}}</td>
            </tr>
        {%endif%}
        {% endfor %}
    </tbody>
</table>
</div>
<br />
<div class="conteiner">
    <ul class="pagination" style="margin-left: 70px;">

        {% if pagina <=1 %} <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% else %}
            <li><a class="page-link" href="/nominas/{{pagina-1}}">Anterior</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
            {% if pagina >= paginas %}
            <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
            {% else %}
            <li><a class="page-link" href="/nominas/{{pagina+1}}">Siguiente</a></li>
            {% endif %}
    </ul>
</div>

{%endblock content%}