{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js" ></script>
<style>
    table,
    th tr,
    td {
        font-family: Arial Narrow;
        font-size: 15px;
        text-align: justify;
        


    }

    thead {
        background-color: rgba(90, 90, 105, 0);
        border-color: rgba(245, 245, 220, 0);
        size: 1px;
        size-adjust: 1px;
    }

    th,
    td {
        padding: 1px;
    }

    table {
        
        width: 5%;
        

    }

    tbody {
        border: rgba(0, 0, 0, 0) 1px solid;
    }
    .formulariosos {
        border-radius: 15px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        background-color: #b2b59b;
        border: 3px solid #b2b59b;
        padding: 20px;
        width: 70%;
        margin: auto;
        font-family: Arial Narrow;
        font-size: 15px;
      }
</style>


{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}

<br />
<form action="/guardarNomina" method="post" class="formulariosos" enctype="multipart/form-data">

    <h1>NOMINA DEL EMPLEADO</h1>
    <input class="form-control" type="hidden" name="idNomina" value="{{id}}"/>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombreEmpleado">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Empleado: </label>
        <div class="col-sm-4">
            <input class="form-control" type="hidden" name="idEmpleado" id="idEmpleado" value="{{empleado.idEmpleado}}" readonly />
            <input class="form-control" type="text" name="nombreEmpleado" id="nombreEmpleado" value="{{empleado.nombre}} {{empleado.apellidoPaterno}} {{empleado.apellidoMaterno}}" readonly />
        </div>

        <label class="control-label col-sm-1" for="salarioDiaro">Salario Diario: </label>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="salarioDiaro" id="salarioDiaro" value="{{empleado.salarioDiaro}}" readonly />
        </div>
    </div>
    <br/><br/>


    <div class="form-group">
        <label class="control-label col-sm-2" for="fechaPago">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Fecha Pago: </label>
        <div class="col-sm-4">
            <input class="form-control" type="date" name="fechaPago" id="fechaPago" placeholder="Nombre" value="{{nomina.fechaPago}}" required/>
            <div id="formEmp" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>

        <label class="control-label col-sm-1" for="nombre">Forma de pago: </label>
        <div class="col-sm-4">
            <select class="form-control" id="idFormaPago" name="idFormaPago" required>
                {%for fp in forma%}
                    {%if fp.idFormaPago == nomina.idFormaPago %}
                    <option value="{{fp.idFormaPago}}" selected>{{fp.nombre}} </option>
                    {%else%}
                    <option value="{{fp.idFormaPago}}" >{{fp.nombre}} </option>
                    {%endif%}
                {%endfor%}
            </select>
        </div>

        
    </div>

    <br /><br />

    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Periodo: </label>
        <div class="col-sm-4">
            <select class="form-control" id="idPeriodo" name="idPeriodo" required>
                
                {%for p in periodos%}
                    
                    {%if p.idPeriodo == nomina.idPeriodo %}
                    <option value="{{p.idPeriodo}}" selected>{{p.nombre}} </option>
                    {%else%}
                    <option value="{{p.idPeriodo}}" >{{p.nombre}} </option>
                    {%endif%}
                {%endfor%}  
            </select>
        </div>

        <label class="control-label col-sm-1" for="diasT">Días Trabajados: </label>
        <div class="col-sm-4">
            <input class="form-control" type="number" disabled name="diasTrabajados" id="diasTrabajados" placeholder="Días trabajados" value="{{nomina.diasTrabajados}}" required onclick="calcSubtotal()"/>
        </div>
        &nbsp; 
    </div>
    <br /><br />

    
    <div class="form-group">
        <!--<label class="control-label col-sm-2" for="fechaE">Fecha Elaboracion: </label-->
        <p class="col-sm-1">&nbsp;</p>
        <div class="col-sm-4">
            <a data-toggle="modal" data-target="#perce" id="imgn"><span class=" btn btn-success col-sm-10" onblur="calcSubtotal()"><b>+
                        Percepciones </b></span></a>
            <!--input class="form-control" type="date" name="fechaE" id="fechaE" placeholder="Nombre" value="" /-->
            <div id="formEmp" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
        <p class="col-sm-2">&nbsp;</p>

        <div class="col-sm-4">
            <a data-toggle="modal" data-target="#dedu" id="imgn"><span class=" btn btn-success col-sm-10"><b>+
                        Deducciones </b></span></a>
            <!--input class="form-control" type="date" name="fechaP" id="fechaP" placeholder="Nombre" value="" /-->
            <div id="formEmp" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>
    <br /><br />
    <br />
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6">
                <table class="table  ">
                    <thead>
                        <tr>
                            <th style="background-color: #272e280f; border-radius: 10px; !important">Nombre</th>
                            <th style="background-color: #272e280f; border-radius: 10px; !important">Importe</th>
                            <th style="background-color: #272e280f; border-radius: 10px; !important"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for ip in nomPer %}
                        {%if ip.idNomina == id %}
                        {%if ip.estatus == 1 %}
                        <tr>{
                            {%for pr in percepciones %}
                            {%if pr.idPercepcion == ip.idPercepcion %}
                            <td>{{pr.nombre}}</td>
                            {%endif%}
                            {%endfor%}
                            <td>{{ip.importe}}</td>
                            <td><a class="glyphicon glyphicon-minus-sign" href="nominasPercepcionesEliminar/{{id}},{{ip.idPercepcion}}"></a></td>
                        </tr>
                        {%endif%}
                        {%endif%}
                        {%endfor%}

                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table  ">
                    <thead>
                        <tr>
                            <th style="background-color: #272e280f; border-radius: 10px; !important">Nombre</th>
                            <th style="background-color: #272e280f; border-radius: 10px; !important">Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for ip in nominasD %}
                        {%if ip.idNomina == id %}
                        {%if ip.estatus == 1 %}
                        <tr>
                            {%for pr in deducciones %}
                            {%if pr.idDeduccion == ip.idDeduccion %}
                            <td>{{pr.nombre}}</td>
                            {%endif%}
                            {%endfor%}
                            <td>{{ip.importe}}</td>
                            <td><a class="glyphicon glyphicon-minus-sign" href="nominasDeduccionesEliminar/{{id}},{{ip.idDeduccion}}"></a></td>
                        </tr>
                        {%endif%}
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <br />

    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Subtotal: </label>
        <div class="col-sm-3">
            <input class="form-control" type="number" name="Subtotal" id="Subtotal"   value="{{nomina.subtotal}}" disabled />
        </div>

        <div class="col-sm-3">
            <input class="form-control" type="hidden" name="Retenciones" id="Retenciones"    />
        </div>

        <label class="control-label col-sm-1" for="diasT">Retenciones: </label>
        <div class="col-sm-3">
            <input class="form-control" type="number" name="Retenciones" id="Retenciones"  value="{{nomina.retenciones}}"  />
        </div>
        
        
    </div>
    <br><br>
    <label class="control-label col-sm-1" for="diasT">Total: </label>
        <div class="col-sm-10">
            <input class="form-control"  name="Total" id="Total"  value="{{nomina.total}}"  />
        </div>
        <button style="background-color: #3166a1;" type="submit" class="btn btn-info"><span
            class="glyphicon glyphicon-envelope"></span> Enviar</button>
        <br><br>
    
    <br /><br /><br>
    <div class="col-sm-1">
        <a class="btn btn-dark" href="/nominasEmpleados/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
</form>

    <div id="perce" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Agregar Percepcion</h4>
                </div>
                <div class="modal-body">
                    <form action="/nominasPercepciones" method="post" enctype="multipart/form-data">
                        <h1>PERCEPCIONES</h1><br />
                        <input class="form-control" type="hidden" name="idEmpleado" id="idEmpleado" value="{{empleado.idEmpleado}}" readonly />
                        <div class="form-group">
                            <div class="dropdown">
                                <input class="form-control" type="hidden" name="idNomina" value="{{id}}"/>
                                <label class="control-label col-sm-2" style="color: darkolivegreen;">Percepciones:
                                </label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="idPercepcion" name="idPercepcion" required>
                                        <option value="" selected disabled>Selecciona</option>
                                        {% for p in percepciones%}
                                        <option value="{{p.idPercepcion}}">{{p.nombre}}</option>
                                        {% endfor %}


                                    </select>
                                </div>
                            </div>

                            <label class="control-label col-sm-2" for="importe" style="color: darkolivegreen;">Importe:
                            </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="importe" id="importe"
                                    placeholder="Importe" />
                            </div>
                            
                        </div>
                        <br /><br /><br />
                        <button style="background-color: #3166a1;" type="submit" class="btn btn-info"><span
                            ></span> Agregar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <div id="dedu" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Agregar Deduccion</h4>
                </div>
                <div class="modal-body">
                    <form action="/nominasDeducciones" method="post" enctype="multipart/form-data">
                        <h1>DEDUCCIONES</h1><br />
                        <input class="form-control" type="hidden" name="idEmpleado" id="idEmpleado" value="{{empleado.idEmpleado}}" readonly />
                        <div class="form-group">
                            <div class="dropdown">
                                <label class="control-label col-sm-2" style="color: darkolivegreen;">Deducciones:
                                </label>
                                <input class="form-control" type="hidden" name="idNomina" value="{{id}}"/>
                                <div class="col-sm-3">
                                    <select class="form-control" id="idDeduccion" name="idDeduccion" required>
                                        <option value="" selected disabled>Selecciona</option>
                                        {% for d in deducciones%}
                                        <option value="{{d.idDeduccion}}">{{d.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <label class="control-label col-sm-2" for="importe" style="color: darkolivegreen;">Importe:
                            </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="importe" id="importe"
                                    placeholder="Importe" required
                                    onKeypress="if (event.keyCode < 45 || event.keyCode > 57)" />
                            </div>
                            <button style="background-color: #3166a1;" type="submit" class="btn btn-info"><span
                                ></span> Agregar</button>
                        </div>
                        <br /><br /><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


<br /><br />
{%endblock content%}