{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<script src="..\static\js\validacion.js"></script>


{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}

<br />
<form action="/registrarNomina" method="post" class="formularios" enctype="multipart/form-data">



    <!-- fieldsets -->


    <h1>NOMINA DEL EMPLEADO</h1>

    <div class="form-group">
        <label class="control-label col-sm-2" for="fechaE">Fecha Elaboracion: </label>
        <div class="col-sm-4">
            <input class="form-control" type="date" name="fechaE" id="fechaE" placeholder="Nombre" value="" />
            <div id="formEmp" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>

        <label class="control-label col-sm-2" for="nombre">Fecha Pago: </label>
        <div class="col-sm-4">
            <input class="form-control" type="date" name="fechaP" id="fechaP" placeholder="Nombre" value="" />
            <div id="formEmp" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>

    <br /><br />

    <div class="form-group">
        <label class="control-label col-sm-2" for="diasT">Días Trabajados: </label>
        <div class="col-sm-4">
            <input class="form-control" type="number" name="diasT" id="diasT" placeholder="Días trabajados" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <!--<label class="control-label col-sm-2" for="fechaE">Fecha Elaboracion: </label-->
        <p class="col-sm-2">&nbsp;</p>
        <div class="col-sm-4">
            <a data-toggle="modal" data-target="#perce" id="imgn"><span class=" btn btn-success col-sm-10"><b>+
                        Percepciones </b></span></a>
            <!--input class="form-control" type="date" name="fechaE" id="fechaE" placeholder="Nombre" value="" /-->
            <div id="formEmp" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
        <p class="col-sm-1">&nbsp;</p>

        <div class="col-sm-4">
            <a data-toggle="modal" data-target="#dedu" id="imgn"><span class=" btn btn-success col-sm-10"><b>+
                        Deducciones </b></span></a>
            <!--input class="form-control" type="date" name="fechaP" id="fechaP" placeholder="Nombre" value="" /-->
            <div id="formEmp" style="background-color:rgba(179, 11, 11, 0.452);color:white"></div>
        </div>
    </div>

    <div id="perce" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Agregar Percepcion</h4>
                </div>
                <div class="modal-body">

                    <h1>PERCEPCIONES</h1><br />
                    <div class="form-group">
                        <div class="dropdown">
                            <label class="control-label col-sm-2" style="color: darkolivegreen;">Percepciones: </label>
                            <div class="col-sm-3">
                                <select class="form-control" id="percepciones" name="percepciones" required>
                                    <option value="" selected disabled>Selecciona</option>
                                    {% for p in percepciones%}
                                    <option value="{{p.idPercepcion}}">{{p.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <label class="control-label col-sm-2" for="importe" style="color: darkolivegreen;">Importe:
                        </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" name="importe" id="importe" placeholder="Importe"
                                required onKeypress="if (event.keyCode < 45 || event.keyCode > 57)" />
                        </div>
                    </div>
                    <br /><br /><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="dedu" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Agregar Deduccion</h4>
                </div>
                <div class="modal-body">

                    <h1>DEDUCCIONES</h1><br />
                    <div class="form-group">
                        <div class="dropdown">
                            <label class="control-label col-sm-2" style="color: darkolivegreen;">Deducciones: </label>
                            <div class="col-sm-3">
                                <select class="form-control" id="deducciones" name="deducciones" required>
                                    <option value="" selected disabled>Selecciona</option>
                                    {% for d in deducciones%}
                                    <option value="{{d.idDeduccion}}">{{d.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                
                        <label class="control-label col-sm-2" for="importe" style="color: darkolivegreen;">Importe: </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" name="importe" id="importe" placeholder="Importe" required
                                onKeypress="if (event.keyCode < 45 || event.keyCode > 57)" />
                        </div>
                    </div>
                    <br /><br /><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />


    <br />
    <div class="col-sm-1">
        <a class="btn btn-dark" href="/nominasEmpleados/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>

    
    <button style="background-color: #389242;" type="submit" class="btn btn-info"><span
            class="glyphicon glyphicon-floppy-disk"> Registrar</span></button>








</form>
<br /><br />
{%endblock content%}