{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<br /><br />
<form action="/guardarDeduccion" method="post" class="formularios" enctype="multipart/form-data">
    <h1>MODIFICACIÓN DE DATOS DE UNA DEDUCCIÓN</h1>
    <input type="hidden" name="idDeduccion" id="idDeduccion" value="{{deduccion.idDeduccion}}" readonly />
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <div class="col-sm-8">
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{deduccion.nombre}}"
                maxlength="30" required  pattern="[A-Za-z]{2,30}" title="Incluir solo letras. Tamaño mínimo: 2. Tamaño máximo: 30"/>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="descripcion">Descripción: </label>
        <div class="col-sm-8">
            <input class="form-control" rows="5" type="text" name="descripcion" id="descripcion"
                value="{{deduccion.descripcion}}" maxlength="80" size="80" required pattern="[A-Za-z0-9]{2,80}" title="Incluir solo letras y numeros. Tamaño mínimo: 2. Tamaño máximo: 80" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="porcentaje">Porcentaje: </label>
        <div class="col-sm-3">
            <input class="form-control" type="number" name="porcentaje" id="porcentaje" step="0.1" value="{{deduccion.porcentaje}}"
                required />
        </div>
    </div>
    <br /><br />
    <a class="btn btn-dark" href="/deducciones/1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button  style="background-color: #389242;" type="submit" id="guardar" class="btn btn-info"><span class="glyphicon glyphicon-floppy-saved">
            Guardar</span></button>
    <a data-toggle="modal" data-target="#elim" id="elimin" class="btn btn-danger"><span
            class="glyphicon glyphicon-trash"></span></a>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<br /><br />
<div id="elim" class="modal fade" role="dialog">
    <div class="modal-dialog" role="eliminar">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminación de la deducción: {{deduccion.nombre}}</h4>
            </div>
            <div class="modal-body">
                <p>¿ Esta seguro de que quiere eliminar este registro ?</p>
            </div>
            <div class="modal-footer">
                <a href="/deduccionesEliminar/{{deduccion.idDeduccion}}" class="btn btn-info">Si</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}