{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>LISTADO DE DEDUCCIONES</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
</div>
<a href="/deduccionesNuevo" class="btn btn-success" id="nuevo1"> <span class="glyphicon glyphicon-file"> <b>Nuevo</b></span></a>
<br/><br/>
<table class="table table-bordered" >
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DESCRIPCIÓN</th>
        <th>PORCENTAJE</th>
        <th>EDITAR</th>
    </tr>
    </thead>
    {% for d in deducciones %}
    <tr>
        <td>{{d.idDeduccion}}</td>
        <td>{{d.nombre}}</td>
        <td>{{d.descripcion}}</td>
        <td>{{d.porcentaje}}</td>
        <td><a href="/deduccionesEditar/{{d.idDeduccion}}"><span class="glyphicon glyphicon-edit"></span></a></td>
    </tr>
    {% endfor %}
</table>
</div>
<br/>
{%endblock content%}